<div id="content" class="content sell-insure">
<div class="container wal">
  <div class="welcome frt">
    <div class="row">
      <div class="col-md-10">
        <div class="hel">
          <h2 class="left-1">Sell - Insure - Pawn - Repair</h2>
          <div class="clear"></div>
        </div>
        <p>Thank you for your interest in one of our value-added services. We would like to help you route your contact information to a specialist who can help you with the sale of your personal property. Please fill out the information below and we will send your request along with a copy of your appraisal report to a specialist in your area. </p>
        <div class="sell-form">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-right">
                <label for="Name">Name :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="Name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-right">
                <label for="email">Email :</label>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control" id="email">
              </div>
            </ </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 text-right">
            <label for="phone">Phone Number : </label>
          </div>
          <div class="col-md-8">
            <input type="tel" class="form-control" id="phone">
          </div>
        </ </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="phone">Message :</label>
      </div>
      <div class="col-md-8">
        <textarea class="form-control" id="phone"></textarea>
        <p class="sel-tex"> Anything  you want to tell us about your personal property?</p>
      </div>
    </div>
</div>
</div>


<div class="form-group">
  <div class="row">

    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <div class="radio">
        <input type="radio" class="css-checkbox" name="optionsRadios" id="optionsRadios1" value="option1" unchecked>
        <label for="optionsRadios1" class="css-label radGroup2">
          <span> Please contact me by email only: </span>
        </label>


      </div>
      <div class="radio">
        <input type="radio" class="css-checkbox" name="optionsRadios" id="optionsRadios2" value="option1" unchecked>
        <label for="optionsRadios2" class="css-label radGroup2">
          <span> Please contact me by phone only:</span>
        </label>
      </div>
      <div class="radio">
        <input type="radio" class="css-checkbox" name="optionsRadios" id="optionsRadios3" value="option1" unchecked>
        <label for="optionsRadios3" class="css-label radGroup2">
          <span> Please contact me by phone or email: </span>
        </label>
      </div>
      <div class="radio">
        <input type="radio" class="css-checkbox" name="optionsRadios" id="optionsRadios4" value="option1" unchecked>
        <label for="optionsRadios4" class="css-label radGroup2">
 <span>  I understand that a copy of my appraisal<br/>  report
will be sent to a ValueThisNow <br/> value-added partner
for evaluation and I approve. </span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="my-self">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'report.png', alt: "paypal" %>
    </div>
    <div class="col-md-6">
      <div class="last-self">
        <p>Please place this text into the box: Thank you for you choosing <a href="index.html">ValueThisNow.com</a> value-added services. Our site offers customers a convenient way to sell, pawn, insure or repair a wide variety of antiques, collectibles and memorabilia through one of our value-added partners. Our firm offers no guarantee of any kind from our partners. The amount of money you are offered from a buyer or pawn shop, or the amount you may be charged by an insurance agent or a repair service is strictly between you (the owner) and our value-added partner. By clicking on the box below, you agree to indemnify <a href="index.html">ValueThisNow.com</a> from any and all responsibility and liability arising from the transportation, sale, storage, repair or insurance coverage services that you elect to receive.
        </p>
      </div>
      <div class="sel-ref">
        <div class="checkbox">
          <input type="checkbox" class="css-checkbox" name="optionsRadios" id="check1" value="check1" unchecked>
          <label for="check1" class="css-label radGroup2">
            <span> By clicking on the box your agree to the above statement: </span>
          </label>
        </div>
      </div>
      <div class="frien">
        <button type="submit" class="pull-right sel-send">Print Friendly</button>
        <div class="clear"></div>
      </div>
      <button type="submit" class="pull-right sel-send">SUBMIT</button>
      <div class="clear"></div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>