<div class="container">
  <div class="login">
    <h2 style="text-align:left;">Resend confirmation instructions</h2>
    <div class="my-login2">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { method: :post }) do |f| %>
          <div class="row">
            <div class="col-md-5">
              <div class="sidn2">
                <div class="form-group">
                  <label class="control-label" >Email<font color="#ff5a00">*</font></label>
                  <%= f.email_field :email, :class => "form-control", :autocomplete => "off" %>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="reset2">
                <%= f.submit "Resend", :class => "btn log-gre" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

