<div class="sec-appraise">
  <div class="container">
    <div class="appraise">
      <h2>How it Works for Appraisers</h2>
      <div class="appra-btn">
        <a href="/home/how?role=consumer" class="apraises-gre">Click Here for How it Works for Consumers</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="appraise-1">
          <%= image_tag 'appraise-1.png', alt:'apprise1' %>
          <p class="text-center"><font color="#7dc127"><b>1.</b> Consumer Uploaded photos with any information .</font></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="appraise-2">
          <%= image_tag 'appraise-2.png', alt:'apprise1' %>
          <p class="text-center"><font color="#7dc127"><b>2.</b> Our appraisal team </font></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="appraise-3">
          <%= image_tag 'appraise-3.png', alt:'apprise3' %>
          <p class="text-center"><font color="#7dc127"><b>3.</b> Give a 100% USPAP
            compliant appraisal report in
            as little as 48 hours.</font></p>
        </div>
      </div>
    </div>


    <div class="sec-appraise-2">
      <p>
        Our job is to bring consumers and appraisers to a common platform which will allow both parties to communicate quickly and easily and efficiently and to share their finished appraisals with friends and family through various social media outlets.
      </p>
      <h6>Our service offers appraisers:</h6>
      <ul>
        <li>An avenue to earn additional income.</li>
        <li>The flexibility to work anywhere you have access to the Internet as long as you have access to the Internet</li>
        <li>Monthly distributions into your checking or savings account</li>
        <li>A way to increase visibility of services your business provides through our platform</li>
        <li>Access to a world-class personal property appraisal network</li>
      </ul>
    </div>
    <%= link_to "Sign in/Sign up as Appraisers", new_appraiser_registration_path, :class => "apraises-gre" %>
  </div>
</div>
