<div class="sec-appraise">
  <div class="container">
    <div class="appraise">
      <h2>How it Works for Consumers</h2>
      <div class="appra-btn">
        <a href="/home/how?role=appraiser" class="apraises-gre">Click Here for How it Works for Appraisers</a>
      </div>
    </div>
    <div class="consume">
      <div class="consume-1">
        <%= image_tag 'appraise-1.png', alt:'apprise1' %>
        <p class="text-center"><font color="#7dc127"><b>1.</b>Upload your photos with any
          information you have.</font></p>
      </div>

      <div class="consume-2">
        <%= image_tag 'consumer.png', alt:'consumer1' %>
        <p class="text-center"><font color="#7dc127"><b>2.</b> Your appraisal gets sent to </br>
          an expert appraiser on our team. </font></p>
      </div>


      <div class="consume-3">
        <%= image_tag 'consumer-2.png', alt:'consumer2' %>
        <p class="text-center"><font color="#7dc127"><b>3.</b> Receive a 100% USPAP
          compliant appraisal report in
          as little as 48 hours.</font></p>
      </div>
      <div class="clear"></div>
    </div>

    <div class="sec-appraise-2 lkj">
      <p>
        <a href="/home/using_online_appraisals" class="learn">Learn more</a> about using online appraisals, including their limitations.
      </p>
      <p>What's the cost? ValueThisNow.com has a graduated fee schedule depending upon the type of appraisal you need and the amount of information you seek. For details, please visit our "<a  target='_blank' rel='nofollow' href='/home/cost_of_appraisals' class='learn'>Cost of Appraisals</a>" page. </p>
    </div>
    <div class="consume-sig">
      <%= link_to "Sign in/Sign up as Customer", new_customer_registration_path, :class => "apraises-gre" %>
    </div>
  </div>
</div>
