<div class="row">
  <div class="col-sm-12 col-md-4 last_left">
    <%= image_tag("box_1_2.png", :alt=> "play", :border => "0", :size => "422x286", :orgWidth => "422", :orgHeight => "286", :usemap => "#image-maps-2015-10-19-032332", :id => "Image-Maps-Com-image-maps-2015-10-19-032332") %>
    <map name="image-maps-2015-10-19-032332" id="ImageMapsCom-image-maps-2015-10-19-032332">
      <area  alt="" title="" href="https://en.wikipedia.org/wiki/Uniform_Standards_of_Professional_Appraisal_Practice " shape="rect" coords="223,232,299,262" style="outline:none;" target="_self"     />
      <area  alt="" title="" href="http://www.aoaonline.org " shape="rect" coords="354,228,419,271" style="outline:none;" target="_self"     />

    </map>
  </div>
  <div class="col-sm-12 col-md-8 box_right last_right">
    <h2>The Value This Now Advantage</h2>
    <p>Not all appraisal providers are equal. ValueThisNow offers superior turnaround times — often under 3 hours. We offer reports that are suitable for property insurance related
      matters or matters concerning equitable property distribution. Our world-class appraiser community can provide amazing facts and history about your antiques and collectibles saving you time and money before you buy or sell. Our appraisal reports start at $19.95, are USPAP compliant and come with a 100% money back guarantee if your not satisfied. What are you waiting for? <br><a href="login.html">Let's find out what your treasure is worth.</a></p>
  </div>