<div class="row type">
  <div class="col-md-7 box_right">
    <h2>What We Do</h2>
    <p>ValueThisNow.com is the nation's most recognized name in providing expert opinions of value online. With over 75 hand-picked experts from across the
      nation, we bring highly credible opinions of value for antiques, collectibles, memorabilia and virtually any household item.  Our sight enables users to quickly gain an expert onion of value for matters concerning auctions, estate sales, insurance damage claims resolution, wills, trusts and charitable contributions.</p>

    <p>Having a better understanding of the history and value of your personal property offers confidence when buying, selling, donating or passing personal possessions along to those we love or care about.</p>

    <p>Not only do we make it easy to learn about your personal property, we also make it easy to share your appraisal results through social media.</p>
    <p>ValueThisNow helps to take the guess work out of valuing your personal property at a price point that is very affordable.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("sec-1.png", :alt=> "What we do") %>
  </div>
</div>