<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <% if @role == "consumer" %>
       <!-- add partial to CMS -->
        <%= render :partial => "how_it_works_consumer" %>
    <% elsif @role == "appraiser" %>
        <!-- add partial to CMS -->
        <%= render :partial => "how_it_works_appraiser" %>
    <% else %>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <%= link_to 'For Consumers', how_path(:role => "consumer"), :class => "btn btn-success btn-large" %>
        </div>
        <div class="col-md-5">
          <%= link_to 'For Appraisers', how_path(:role => "appraiser"), :class => "btn btn-success btn-large" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
