<h2> Average Customers Repeat Use</h2>

<div class="bigger-size">
<b>Total Completed Appraisal: </b> <%= appraisals.to_s %>
<br>
<b>Total Customer have at least one completed appraisal: </b><%= customers.to_s %>
<br>
<b>Average: </b><%= appraisals.to_f / customers.to_f %>
</div>